{
  "semi": false,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "printWidth": 100,
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "jsxSingleQuote": false,
  "proseWrap": "preserve",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "singleAttributePerLine": true,
  "tailwindConfig": "./tailwind.config.js"
}
